<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocio.Properties.Settings.icrescentidbConnectionString"
            connectionString="Data Source=sqlserver.icrescenti.com;Initial Catalog=icrescenti_db;User ID=SA;Password=DeployTheDroidekas24" />
    </connectionStrings>
</configuration>