<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="icrescentidbEntities" connectionString="metadata=res://*/Infrastructure.BibliotecaModel.csdl|res://*/Infrastructure.BibliotecaModel.ssdl|res://*/Infrastructure.BibliotecaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icrescentidam.database.windows.net;initial catalog=icrescenti_db;persist security info=True;user id=icrescenti;password=Campalans1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>